IR remote demonstration 2.mp4
PCB Files/Cerebro 4.8/.Cerebro 4.8.brd.lck
PCB Files/Cerebro 4.8/.Cerebro 4.8.sch.lck
QT/Calibration Utility/release
CCS.pro.user
QT/build-CCS-Desktop_Qt_5_4_2_MinGW_32bit-Debug
main.o
mainwindow.o
Xavier.exe
logFunctions.pyc
calFunctions.pyc
mainwindow.cpp.autosave
Xavier.exe - Shortcut.lnk
QT/build-CCS-Desktop_Qt_5_4_2_MinGW_32bit-Release
QT/release
QT/build-CCS-Desktop_Qt_5_6_0_clang_64bit-Release
CCS.pro.user.5163482
CCS.pro.user.e18160a
