JSON testing
*__pycache__
*.ipynb_checkpoints
Thumbs.db
Qt/Xavier/release
parse log debug.ipynb
Qt/Xavier/.qmake.stash
Qt/Xavier/dropbutton.o
Qt/Xavier/main.o
Qt/Xavier/mainwindow.o
Qt/Xavier/Makefile
Qt/Xavier/Makefile.Debug
Qt/Xavier/Makefile.Release
Qt/Xavier/moc_dropbutton.cpp
Qt/Xavier/moc_dropbutton.o
Qt/Xavier/moc_mainwindow.cpp
Qt/Xavier/moc_mainwindow.o
Qt/Xavier/moc_settingsDialog.cpp
Qt/Xavier/moc_settingsDialog.o
Qt/Xavier/settingsDialog.o
Qt/Xavier/Xavier.pro.user
Qt/Xavier/Xavier.pro.user.5163482
Qt/Xavier/Xavier.pro.user.e18160a
Qt/Xavier/Xavier.app
*.l#*
Qt/build-Xavier-Desktop_Qt_5_9_1_clang_64bit-Debug
Qt/build-Xavier-Desktop_Qt_5_9_1_MinGW_32bit-Debug
Xavier.pro.user.357e0eb
Xavier.pro.user.3b9c755
Qt/build-Xavier-Desktop_Qt_5_9_1_MinGW_32bit-Release
Qt/build-Xavier-Desktop_Qt_5_9_1_clang_64bit-Release
Doc_src/source/Hardware/Datasheets
Documentation_src/build
moc_predefs.h
qrc_myfiles.cpp
qrc_myfiles.o
.vscode
