JSON testing
*__pycache__
*.ipynb_checkpoints
Thumbs.db
Qt/Xavier/release
parse log debug.ipynb
Qt/Xavier/.qmake.stash
Qt/Xavier/dropbutton.o
Qt/Xavier/main.o
Qt/Xavier/mainwindow.o
Qt/Xavier/Makefile
Qt/Xavier/Makefile.Debug
Qt/Xavier/Makefile.Release
Qt/Xavier/moc_dropbutton.cpp
Qt/Xavier/moc_dropbutton.o
Qt/Xavier/moc_mainwindow.cpp
Qt/Xavier/moc_mainwindow.o
Qt/Xavier/moc_settingsDialog.cpp
Qt/Xavier/moc_settingsDialog.o
Qt/Xavier/settingsDialog.o
Qt/Xavier/Xavier.pro.user
Qt/Xavier/Xavier.pro.user.5163482
Qt/Xavier/Xavier.pro.user.e18160a
Qt/Xavier/Xavier.app
Doc_src/source/Hardware/Datasheets
